<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <div>
        <h3 class="d-inline">支出總金額: $</h3>
        <h1 class="d-inline text-danger">{{totalAmount}}</h1>
      </div>
      <div>
        <a class="btn btn-success" href="/expenses/new" role="button">新增支出</a>
      </div>
      <ul class="list-group mt-3">
        {{#each records}}
        <li class="list-group-item list-group-item-success">
          <div class="row align-items-center">
            <div class="col-8">
              <div class="row align-items-center g-0">
                <div class="col-2">
                  <i class="{{this.categoryInfo.icon}}"></i>
                </div>
                <div class="col-5">
                  <div>{{this.name}}</div>
                  <div>{{#dateFormat this.date}}{{/dateFormat}}</div>
                </div>
                <div class="col-5 text-end">{{this.amount}}</div>
              </div>
            </div>
            <div class="col-4 text-end">
              <a class="btn btn-info" href="#" role="button">修改</a>
              <a class="btn btn-danger" href="#" role="button">刪除</a>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>